{
  "swagger" : "2.0",
  "info" : {
    "version" : "0.2",
    "title" : "Textract Api Documentation",
    "contact" : { }
  },
  "host" : "api.textract.io",
  "security" : [ {
    "api_key" : [ ]
  } ],
  "paths" : {
    "/text" : {
      "get" : {
        "tags" : [ "textract" ],
        "summary" : "Extract text from document at URL",
        "operationId" : "getTextFromURL",
        "produces" : [ "text/plain;charset=utf-8", "application/json" ],
        "parameters" : [ {
          "name" : "url",
          "in" : "query",
          "description" : "The URL of the document to extract text from.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "string"
            }
          },
          "401" : {
            "description" : "Unauthorized (missing/wrong API key)"
          },
          "429" : {
            "description" : "Too Many Requests"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        }
      },
      "post" : {
        "tags" : [ "textract" ],
        "summary" : "Extract text from uploaded document",
        "operationId" : "getTextFromFile",
        "consumes" : [ "multipart/form-data" ],
        "produces" : [ "text/plain;charset=utf-8" ],
        "parameters" : [ {
          "name" : "file",
          "in" : "formData",
          "description" : "file",
          "required" : true,
          "type" : "file"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "string"
            }
          },
          "201" : {
            "description" : "Created"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        },
        "deprecated" : false
      }
    }
  },
  "securityDefinitions" : {
    "api_key" : {
      "type" : "apiKey",
      "name" : "api_key",
      "in" : "query"
    }
  },
  "definitions" : { }
}